<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>
<ul>
    <li><a href="/login">Accedi</a></li>
    {#if loggedIn }
        <li><a href="/profilo">Profilo</a></li>
    {#else}
        <li><a href="/registrazione">Registrati</a></li>
    {/if}
</ul>
<form action="/ricerca" method="post">
    <label for="search"><input id="search" placeholder="Cerca un locale..." name="search"></label>
    <button type="submit">Cerca</button>
</form>
</body>
</html>