<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrazione</title>
</head>
<body>
<form method="post" action="/registrazione">
    <header>
        <h2>Registrazione</h2>
        {#if message}
            <h3 style="color: red">{message}</h3>
        {/if}
    </header>
    <label for="username">Username: <input type="text" name="username" id="username" required="required"></label>
    <br>
    <label for="password">Password: <input type="password" minlength="8" name="password" id="password"
                                           required="required"></label>
    <br>
    <button type="submit">Registrati</button>
    <button type="reset">Pulisci</button>
</form>
</body>
</html>